@import "../../index.scss";
.cardContent {
  .tableWrapper {
    overflow-x: scroll;
    .thead{
      .columns{
        margin: 0;
      }
    }
    .tbody {
      overflow-y: scroll;
      height: 40vh;
      display: block;
      @media (max-width: 480px) {
        height: 40vh;
      }
    }
  }
}
