@import "../../index.scss";
.cardContent {
  height: 70vh;
  .tableWrapper {
    overflow-x: scroll;
    .thead{
      .columns{
        margin: 0;
      }
    }
    .tbody {
      overflow-y: scroll;
      height: 47vh;
      display: block;
      background-color: "#f9f9f9";
    }
  }
}
