$primary: #7957b7;
$scrollable-bg: #f9f9f9;

html {
  height: 100%;
}

a {
  color: $primary !important;
}

#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  color: #222;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  :hover {
    cursor: pointer;
  }
}
@import "../node_modules/bulma/bulma.sass";

.is-no-wrap-tablet {
  @media screen and (min-width: $tablet) {
    white-space: nowrap;
  }
}

.is-no-wrap {
  white-space: nowrap;
}
